{% extends 'includes/template.html.twig' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block body %}
<div class="jumbotron" id="jumbotron-menu">
    <div class="container">
        <h4>General terms of use</h4>
    </div>
</div>
<div class="container">
    <nav id="navbar-example2" class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">Terms</a>
      <ul class="nav nav-pills">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Articles</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#art1">Object</a>
            <a class="dropdown-item" href="#art2">Legal Notice</a>
            <a class="dropdown-item" href="#art3">Definitions</a>
            <a class="dropdown-item" href="#art4">Access to services</a>
            <a class="dropdown-item" href="#art5">Intellectual Property</a>
            <a class="dropdown-item" href="#art6">Personal Data</a>
            <a class="dropdown-item" href="#art7">Responsibility and force majeure</a>
            <a class="dropdown-item" href="#art8">Hypertext links</a>
            <a class="dropdown-item" href="#art9">Evolution of the contract</a>
            <a class="dropdown-item" href="#art10">Duration</a>
            <a class="dropdown-item" href="#art11">Applicable right and competent jurisdiction</a>
            <a class="dropdown-item" href="#art12">Publication by the User</a>

        </div>
    </li>
</ul>
</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0" id="cgu">
    <br/>
    <h4 id="art1">Article 1 : Object</h4>
    <p>
    The present "general terms of use" have for object the legal supervision of the modalities of provision of the services of the site www.confluence.fr and their use by "the User".</p> 
    <p>
    General terms of use must be accepted by every User wishing to reach the site. They constitute the contract between the site and the User. The access to the site by the User means its acceptance of the present general terms of use.</p>
    <p>
    In case of non-acceptance of general terms of use stipulated in the present contract, the User owes give up the access of the services proposed by the site.</p>
    <p>
        www.confluence.fr reserves the right to modify one-sidedly and at any time the contents of the present general terms of use.
    </p>

    <h4 id="art2">Article 2 : Legal Notice</h4>
    <p>
    The edition of the site to www.confluence.fr is assured by the Company E2G4 SARL with a capital of 10 000 € whose head office is situated in the building Les Passerelles, 24 Avenue Joannès Masset, 69009 Lyon.</p>
    <p>
    The Editorial director is Mister CHORIER Mathieu.</p>
    <p>
        The host of the site to www.confluence.fr is the E2G4 company with a capital of 10 000 € whose head office is situated in the building Les Passerelles, 24 Avenue Joannès Masset, 69009 Lyon.
    </p>

    <h4 id="art3">Article 3 : Definition</h4>
    <p>
        The present clause has for object to define the various essential terms of the contract:<p>
            <p>
            User: this term indicates every person who uses the site or one of the services proposed by the site.</p>
            <p>
                User contents: they are the data passed on by the User within the site.
            </p>
            
            <h4 id="art4">Article 4 : Access to services</h4>
            <p>
            The site allows the User a free access to the following services:</p>
            <ul>
                <li>Articles ;</li>
                <li>Gallery of photos and videos ;</li>
                <li>Interactive map (routes, display of places by choice) ;</li>
                <li>Description of places</li>
            </ul>
            <p>The site is accessible free of charge in any place to every User having an access to Internet. All the expenses supported by the User to reach the service (computer hardware, software, Internet connection, etc.) are at his/her expense.
            </p>

            <p>As the case may be:</p>

            <p>The site implements all the ways provided him with to assure a quality access to its services. The obligation being of resources, the site does not make a commitment to reach this result.
            </p>

            <p>Any event due to a case of absolute necessity having for consequence a dysfunction of the network or the server does not engage the responsibility of www.confluence.fr.</p>

            <p>The access to the services(departments) of the site can be the object at any time of an interruption, a suspension, a modification without advance notice for a maintenance or for any other case. The User obliges to demand no compensation further to the interruption, further to the suspension or further to the modification of the present contract.</p>

            <p>The User has the possibility of contacting the site by electronic mail at the address "confluence@yopmail.com".</p>

            <h4 id="art5">Article 5 : Intellectual Property</h4>
            <p>
            The brands, the logos, the signs and any other contents of the site are the object of a protection by the Code of the intellectual property and more particularly by the copyright.</p>

            <p>The User requests the prior authorization of the site for any reproduction, publication, copy of the various contents.</p>

            <p>The User commits to a use of the contents of the site in a strictly private frame. A use of the contents for commercial purposes is strictly forbidden.</p>

            <p>Any put on-line contents by the User are of his own responsibility. The User makes a commitment not to put on-line contents which can strike a blow at the interests of tierces people. Any recourse in justice committed by a third party against the site will be taken in charge by the User.</p>

            <p>The contents of the User can be at any time and for any reason deleted or modified by the site. The User receives no justification and notification before the deletion or before the modification of the User contents.</p>
            
            <h4 id="art6">Article 6 : Personal Data</h4>
            <p>
                The site assures the User a collection and a processing of personal information in the respect for private life according to the law n°78-17 of January 6th, 1978 relative to the computing, to the files and to the liberties. The site is declared to the CNIL under the number <b>1579653248</b>.</p>

                <p>By virtue of articles 39 and 40 of the law on January 6th, 1978, the User has a right of access, rectification, deletion and opposition of his personal data. The User exercises this right via:</p>
                <ul>
                 <li>a contact form ;</li>

                 <li>by mail to confluence@yopmail.com ;</li>

                 <li>by post to Bâtiment Les Passerelles, 24 Avenue Joannès Masset, 69009 Lyon.</li>
             </ul>

             <h4 id="art7">Article 7 : Responsibility and force majeure</h4>
             <p>The sources of the information spread on the site are considered reliable. However, the site saves itself the faculty of a non-guarantee of the reliability of sources. The information given onto the site is it in purely informative title. So, the User assumes the full responsibility of the use of the information and the contents of the present site.</p>
             <p>Any use of the service by the User having directly or indirectly for consequence of the damage has to be the object of a compensation for the benefit of the site.</p>
             <p>The responsibility of the site cannot be committed in case of force majeure or of the unpredictable and insuperable fact of a third party.</p>

             <h4 id="art8">Article 8 : Hypertext links</h4>
             <p>Numerous outgoing hypertext links are present on the site, however the web pages where lead these links engage not at all the responsibility of www.confluence.fr which is not in control of these links.</p>

             <p>The User thus refrains to engage the responsibility of the site concerning the contents and the resources relative to these outgoing hypertext links.</p>

             <h4 id="art9">Article 9 : Evolution of the contract</h4>
             <p>The site saves itself at any time the right to modify clauses stipulated in the present contract.</p>

             <h4 id="art10">Article 10 : Duration</h4>
             <p>The duration of the present contract is indefinite. The contract produces its effects towards the User as from the use of the service.</p>

             <h4 id="art11">Article 11 : Applicable right and competent jurisdiction</h4>
             <p>The French legislation applies to the present contract. In case of absence of amicable resolution of a dispute born between the parties, only the courts of the city of Lyon are competent.</p>

             <h4 id="art12">Article 12 : Publication by the User</h4>
             <p>The site allows the members to publish comments.</p>

             <p>In his publications, the user makes a commitment to respect the rules of the netiquette and the current legal rules.</p>

             <p>The site exercises moderation a posteriori on the publications and reserves the right to refuse their on-line publishing, without having to justify itself with the user.
             The user remains a holder of his/her entire intellectual property rights. But by publishing a publication on the site, he gives up to the publishing company the not exclusive and free right to represent, to reproduce, to adapt, to modify, to spread and to distribute his publication, directly or by an authorized third party, all over the world, on any support (digital or physical), for a period of the intellectual property. The user transfers in particular the right to use his publication on the Internet and on the networks of mobile telephony.</p>

             <p>The publishing company makes a commitment to make represent the name of the user near every use of its publication.</p>
         </div>
     </div>
     {% endblock %}
