{% extends 'includes/template.html.twig' %}

{% block title %}Découvrir{% endblock %}

{% block body %}
    <div class="jumbotron" id="jumbotron-menu">
        <div class="container">
            <h4>Découvrir</h4>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-end">
            <select class="custom-select col-3" id="types">
                <option selected>Choisissez un type de lieu :</option>
            {% for type in types %}
                <option value="{{ type.id }}">{{ type.libelle_fr }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="row">
            <div class="media">
                <img class="mr-3" src="" alt="Generic placeholder image">
                <div class="media-body">
                  <h5 class="mt-0">Media heading</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/discover.js"></script>
{% endblock %}