{% extends 'includes/template.html.twig' %}

{% block title %}Se repérer{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="css/leaflet/leaflet.css">
    <link rel="stylesheet" href="css/leaflet/leaflet-bootstrapmodal.css">
{% endblock %}


{% block body %}
    <div class="jumbotron" id="jumbotron-menu">
        <div class="container">
            <h4>Se repérer</h4>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div id="mapid"></div>
            </div>
        </div>

    {% include 'includes/reperes.html.twig' with types %}
{% endblock %}


{% block scripts %}
    {{ parent() }}
    <script src="/js/leaflet/leaflet.js"></script>
    <script src="/js/leaflet/leaflet-providers.js"></script>
    <script src="/js/leaflet/leaflet-bootstrapmodal.js"></script>
    <script src="/js/map.js"></script>
{% endblock %}