@import url('https://cdn.clarkhacks.com/OpenDyslexic/v1/OpenDyslexic.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
    font-family: 'Open Sans', cursive;
}

body.accessibility,
body.accessibility p + a + li + span + button,
body.accessibility h1 + h2 + h3 + h4 + h5 + h6 {
    font-family: 'OpenDyslexic' !important;
}

.navbar-toggler-icon {
    width: 1.2em;
    height: 1.2em;
}

.navbar {
    /* ajoute une bordure  */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    padding: 0 2rem;
    background-color: #E8E8E8;
}

li, p, span, a {
    font-family: 'Open Sans', cursive;
}

.navbar a {
    color: rgba(0, 0, 0, 0.7);
}

.jumbotron {
    margin-bottom: 0;
    padding: 2.5%;
}

/* liens blancs */
footer p {
    margin: 0;
    padding: 0;
}

footer .row {
    padding-top: 10px;
}

footer {
    padding-top: 10px;
}

footer a {
    color: white;
} 

.jumbotron-header {
    padding: 200px; 
    background-position: center; 
    background-size: cover;
    border-radius: 0;
    margin-bottom: 1em;
}

.jumbotron-header .jumbotron-title {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border: 2px solid white;
    color: white;
    text-align: center;
}

.jumbotron-header .jumbotron-title > h1,
.jumbotron-header .jumbotron-title > p
{
    color: white;
    text-align: center;
    text-shadow: -2px 0px 5px black;
    font-family: 'Comfortaa', cursive;
}

.jumbotron-header > .container > .jumbotron-title > p {
    font-size: 160% !important;
    margin-bottom: 0;
}

#jumbotron-homepage {
    padding: 300px;
}

footer {
    color: white;
    margin-top: 5px;
}

#mapid {
    height: 600px;
}

#cgu {
    text-align: justify;
    text-justify: inter-word;
}

.nav-tabs {
    width: 100%;
}

.leaflet-top, .leaflet-bottom {
    pointer-events: all;
}

.custom-control-label {
    padding-top: 3.5px;
}

ul.navbar-nav > li.nav-item:nth-last-child(-n+2) 
{
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    /* border-right: 1px solid rgba(0, 0, 0, 0.2); */
}

ul.navbar-nav > li.nav-item:last-child 
{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar-nav > .nav-item > .nav-link.active {
    background-color: #7DC6DF;
    color: white;
}

#contactForm {
    border-style: 1px solid black;
}

ul#networks > li > a:hover {
    color: black;
}

button#contactButton:hover {
    background-color: white;
    color: black;
}

ul.nav#types > li.nav-item > a.nav-link.active {
    background-color: #7DC6DF;
    color: white;
}

ul.nav#types > li.nav-item > a.nav-link:hover:not(.active) {
    background-color: #78C2AD;
    color: white;
}

.navbar-nav li.nav-item > a.nav-link:hover:not(.active),
.navbar-nav li.nav-item > a.nav-link:focus:not(.active){
    color: #78C2AD;
    font-weight: 500;
}

#numbers > .number {
    text-align: center;
}

#numbers > .number > h4 {
    padding: 5px;
    background-color: #78C2AD;
    color: white;
}

#numbers > .number > p {
    text-align: justify;
}

ul.navbar-nav > li.nav-item#accessibility > .nav-link {
    color: rgba(0,0,0,0.3);
    background-color: inherit;
}

ul.navbar-nav > li.nav-item#lang > .nav-link:hover {
    background-color: #78C2AD;
    color: white;
}

ul.navbar-nav > li.nav-item#accessibility > .nav-link.active {
    color: #78C2AD;
    background-color: inherit;
}