@import url('https://cdn.clarkhacks.com/OpenDyslexic/v1/OpenDyslexic.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
    font-family: 'Open Sans', cursive;
}

.navbar {
    /* ajoute une bordure  */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    padding: 0 2rem;
}

.jumbotron {
    margin-bottom: 0;
    padding: 2.5%;
}

/* liens blancs */
footer p {
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
} 

.jumbotron-header {
    padding: 200px; 
    background-position: center; 
    background-size: cover;
    border-radius: 0;
    margin-bottom: 0;
}

.jumbotron-header .jumbotron-title {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border: 2px solid white;
    color: white;
    text-align: center;
}

.jumbotron-header .jumbotron-title > h1,
.jumbotron-header .jumbotron-title > p
{
    color: white;
    text-align: center;
    text-shadow: -2px 0px 5px black;
    font-family: 'Comfortaa', cursive;
}

.jumbotron-header > .container > .jumbotron-title > p {
    font-size: 160% !important;
    margin-bottom: 0;
}

footer {
    color: white;
    margin-top: 5px;
}

#mapid {
    height: 600px;
}

#cgu {
    text-align: justify;
    text-justify: inter-word;
}

.nav-tabs {
    width: 100%;
}

.leaflet-top, .leaflet-bottom {
    pointer-events: all;
}

.custom-control-label {
    padding-top: 3.5px;
}

li.nav-item:last-child {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

li.nav-item:last-child:hover {
    background-color: #E8E8E8;
}

#contactForm {
    border: 1px solid whitex;
}