@import url('https://fonts.googleapis.com/css?family=Pacifico');

.navbar {
    /* ajoute une bordure  */
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

/* liens blancs */
footer p {
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
} 

#jumbotron-main {
    background-image: url('https://culturebox.francetvinfo.fr/sites/default/files/assets/images/2014/12/000_par8031448.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height: 100%;
    padding: 15rem;
    margin-bottom: 0;
}

#jumbotron-main > .container > h1,
#jumbotron-main > .container > p
{
    color: white;
    text-align: center;
    text-shadow: -2px 0px 30px rgba(161, 150, 149, 1);
    font-family: 'Pacifico', cursive;
}


#jumbotron-main > .container > h1 {
    font-size: 400%;
}

#jumbotron-main > .container > p {
    font-size: 250% !important;
}

footer {
    color: white;
    margin-top: 5px;
}