<footer>
    <div class="container-fluid bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                  <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contactForm">
                        Contact
                  </button>
                </div>
                <div class="col-md-3 text-right">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <p class="text-white">CGU</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

{% include 'includes/contact.html.twig' %}
