<div class="modal fade bd-example-modal-lg" id="placeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content text-center" style="padding: 15px;">
        <center><h4 id="title"></h4></center>

        <center><img src="" alt="" id="image" style="max-width: 400px; margin-bottom: 20px;"></center>

        <p id="description" class="text-justify"></p>
    </div>
  </div>
</div>